:root{ /*declaração de variáveis; PASSANDO O MOUSE EM CIMA DAS CORES VOCÊ CONSEGUE MUDÁ-LAS*/
    --cor-de-fundo: #1E1E1E; 
    --verde: #6FFF57; 
    --branco: #FFFFFF; 
    --botao-ativo: #3A375E; 
    --botao-inativo: rgba(58, 55, 94, 0.5); 
    --texto-fundo: rgba(58, 55, 94, 0.3); 
}
body{ /*define estilização geral do conteúdo da página*/
    background-color: var(--cor-de-fundo); /*cor do fundo / var declara a variável criada em root*/
    color: var(--branco); /*cor da fonte*/
    font-family: "Kode Mono", monospace; /*define a fonte utilizada na página*/
    font-optical-sizing: auto; 
    font-style: normal;
}
.conteudo-principal{ /*classe conteudo-principal do HTML*/
    display: flex; /*define o layout do conteúdo: flex ou grid*/
    flex-direction: column; /*define como os itens flex são colocados no contêiner flex, definindo o eixo principal e a direção (normal ou reversa)*/
    justify-content: center; /*justifica(arruma) o conteúdo: centro*/
    align-items: center; /*alinha os elementos: centro*/
    max-width: 1200px; /*define a largura máxima de um elemento*/
    width: 100%; /*define a largura do elemento*/
    margin: 0 auto; /*define o espaço em torno da borda do elemento e a borda da página; controla o espaço fora do elemento*/
}
.titulo-principal{  /*classe titulo-principal no HTML*/
    text-align: left; /*alinha o texto: esquerda*/
    width: 100%;
    font-size: 32px; /*define o tamanho da fonte*/
}
.titulo-principal span{ /*colocando cor no underline _*/
    color: var(--verde); 
}
.botao{ /*classe botao no HTML*/
    font-family: "Kode Mono", monospace; /*define a fonte utilizada na página*/
    font-optical-sizing: auto; 
    font-style: normal;
    background-color: var(--botao-inativo); /*var declara a variável criada em root*/
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em; /* define o espaço entre a borda de um elemento e o conteúdo do elemento; controla o espaço dentro do elemento*/
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo); /*define a borda inferior de um elemento: 4px cor da variável*/
    border-left: 2px solid var(--botao-ativo); /*define a borda esquerda de um elemento: 2px cor da variável*/
    border-right: 2px solid var(--botao-ativo); /*define a borda direita de um elemento 2px cor da variável*/
    border-top: none; /*define a borda superior de um elemento: nenhuma*/
}
.botoes{ /*classe botoes no HTML*/
    display: block; /*define como bloco começa em uma nova linha e ocupa a largura disponível da tela.*/
}
@media screen and (min-width:768px){ /*independente do dispositivo que o usuário estiver utilizando, o site irá se adaptar e ficar totalmente responsivo, sem quebras de layout*/
    .botoes{ /*classe botoes no HTML*/
        display: flex;
    }
}
.botao:first-child{ /*first-child permite selecionar o primeiro elemento em um grupo de elementos irmãos dentro de seu elemento definidor, neste caso o primeiro botao*/
    border-radius: 40px 0 0 0; /*arredonda o contorno de um elemento, nesse caso o canto esquerdo superior*/
}
.botao:last-child{ /*last-child permite selecionar o último elemento em um grupo de elementos irmãos dentro de seu elemento definidor, neste caso o último botão*/
    border-radius: 0 40px 0 0; /*arredonda o contorno de um elemento, nesse caso o canto direito superior*/
}
.botao.ativo{ /*classe botao ativo*/
    background-color: var(--botao-ativo); /*cor de fundo diferente pra mudar de cor*/
    border-bottom: 4px solid var(--verde); /*cor verde na borda inferior do botão*/
}
.abas-textos{
    text-align: center;
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.aba-conteudo.ativo{
    display: block;
}
.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-secundario{
    color:#6FFF57;
}